/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/********** plugin **************/
/************* GENERALES ***********/
li {
    margin: 0px;
    padding: 0px;
    
}
ul {
    margin: 0px;
    padding: 0px;
}
.contenido {
    padding: 15px;
}
#navegador {
    display: block;
}
button {
    background-color: #FF6600;
    border: 0px;
    padding: 10px;
    display: block;
    text-align: center;
    color: #FFF;
}
/*************** MENU **************/
#menu {
    border-radius: 4px;
}
#menu ul {
    list-style: none;
}
#menu ul li {

}
#menu ul li a {
    border-left: 20px solid #666;
    background-color: #CCC;
    font-size: 18px;
    color: #666;
    display: block;
    padding: 10px;
    margin-top: 5px;
}
#menu ul li a:hover {
    background-color: #000;
    color: #FFF;
}
/************* POST ****************/
#post {
    padding: 10px;
}
#titulo_post {
font-size: 24px;
color: #333;
}
#fecha_post {
font-size: 10px;
color: #CCC;
}
#contenido_post {
font-size: 12px;
color: #333;
padding: 5px;
text-align: justify;
}
#contenido_post img {
    width: 90%;
    display: block;
    border:1px solid #666;
}
#comentarios {
    border-radius: 4px;
    display: none;
    padding: 10px;
    color: #FFF;
    margin-bottom: 15px;
}
#comentarios h2 {
    font-size: 20px;
    color: #333;
}
#comentarios .nombre_comment_post {
    color: #FFF;
    font-size: 24px;
}
#comentarios .commentdiv {
    color: #FFF;
    margin-bottom: 15px;
}
#comentarios .nombre_comment_post {
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #CCC;
}
#comentarios .fecha_comment_post {
    font-size: 8px;
    margin-top: 10px;
    color: #CCC;
}
#comentarios .contenido_comment_post {
    font-size: 10px;
    color: #333;
    margin-top: 10px;
}
/*********** CATEGORIA **************/
.post {
    padding: 15px;
    display: block;
    margin-top: 20px;
    border:1px solid #666;
    border-radius: 4px;
    display: block;
}
.titulo_cat_post {
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #CCC;
}
.fecha_cat_post {
    margin-top: 5px;
    color: #CCC;
    font-size: 10px;
}
.contenido_cat_post {
    color: #333;
    text-align: justify;
}
.img_cat_post {
    float: left;
    width: 30%;
    margin: 5px;
    border:1px solid #333;
}